<div class="my-section projects-container">
  <h3>Sample Projects</h3>
  <div class="grid">
	  <figure class="cell">
  		<a href="https://github.com/codeforamerica/ReqCheck" target="_blank">
  			<div class="project-header"><figcaption>ReqCheck Medical CDSi</figcaption></div>
	  		<img src="../img/ReqCheckUniform.png" class="responsive-image" alt="ReqCheck Medical">
  		</a>
  		<figcaption><span class='bold-heavy'>Technologies: </span>Ruby on Rails, PostgreSQL</figcaption>
  		<figcaption><span class='bold-heavy'>Overview: </span>Built open-source medical algorithm using CDC data to evaluate a patient's vaccination record. Ensured application level HIPAA compliance.</figcaption>
	  </figure>
	  <figure class="cell">
  		<a href="https://github.com/codeforamerica/ReqCheck" target="_blank">
  			<div class="project-header"><figcaption>Reqcheck-ETL-Extractor</figcaption></div>
	  		<img src="../img/ReqCheckExtractorUniform.png" class="responsive-image" alt="ReqCheck ETL Extractor">
  		</a>
  		<figcaption><span class='bold-heavy'>Technologies: </span>Python script bundled into Microsoft EXE, Microsoft SQL Server</figcaption>
  		<figcaption><span class='bold-heavy'>Overview: </span>Using a worker, developed continuous ETL from legacy SQL Server to Cloud PostgreSQL Database.</figcaption>
  	</figure>
	  <figure class="cell">
  		<a href="https://flyrlabs.com/" target="_blank">
  			<div class="project-header"><figcaption>Flyr FareKeep & Pricing APIs</figcaption></div>
	  		<img src="../img/FlyrPricing.jpg" class="responsive-image" alt="Flyr Pricing API">
  		</a>
  		<figcaption><span class='bold-heavy'>Technologies: </span>Python with Flask, NodeJS in ExpressJS, PostgreSQL, MongoDB</figcaption>
  		<figcaption><span class='bold-heavy'>Overview:</span> Built purchasing APIs for core product and integrated them with 3rd party pricing API into a single streaming API.</figcaption>
	  </figure>
  </div>
</div>