<div class="front-page">
  <div class="front-info">
    <h1>Kevin Berry</h1>
    <nav>
      <a href="http://www.linkedin.com/in/kevinberry1" title="Linkedin" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a href="http://twitter.com/lostmarinero" title="Twitter" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="http://github.com/lostmarinero" title="Github" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a href="mailto:berry.kevinw@gmail.com" title="Email" target="_blank"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
    </nav>
    <h2>{{ page.tagline }}</h2>
    <h5>Specializing in Python & Ruby</h5>
    <p>Formerly of <a href="https://codeforamerica.org" alt="Code for America" class="test">Code for America</a> & <a href="https://flyrlabs.com">FlyrLabs</a>.</p>
    <p>Mentor with <a href="https://missionbit.org" alt="MissionBit">MissionBit</a> & <a href="https://coderdojo.org" alt="CoderDojo">CoderDojo</a>.</p>
  </div>
  <div>
    <!-- <h3>Coding’s ability to create large-scale change motivates my growth and daily learning.</h3> -->
  </div>
</div>