<div class="front-page">
  <h1>Kevin Berry</h1>
  <nav>
    <a class="icon linkedin" href="http://www.linkedin.com/in/kevinberry1" title="Linkedin" target="_blank">LinkedIn</a>
    <a class="icon twitter" href="http://twitter.com/lostmarinero" title="Twitter" target="_blank">@lostmarinero</a>
    <a class="icon github" href="http://github.com/lostmarinero" title="Github" target="_blank">github</a>
    <a class="icon email" href="mailto:berry.kevinw@gmail.com" title="Email" target="_blank">berry.kevinw@gmail.com</a>
  </nav>
  <h2>{{ page.tagline }}</h2>
  <p>Formerly of <a href="https://codeforamerica.org" alt="Code for America">Code for America</a> & <a href="https://flyrlabs.com">FlyrLabs.</a></p>
</div>