<div class="front-page flex-container">
  <div>
    <h1>Kevin Berry</h1>
    <nav>
      <a href="http://www.linkedin.com/in/kevinberry1" title="Linkedin" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a href="http://twitter.com/lostmarinero" title="Twitter" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="http://github.com/lostmarinero" title="Github" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a href="mailto:berry.kevinw@gmail.com" title="Email" target="_blank"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
    </nav>
    <h2>{{ page.tagline }}</h2>
    <h5>Specializing in Python & Ruby</h5>
    <p>Experienced in User-Driven Development</p>
    <p>Formerly of <a href="https://codeforamerica.org" alt="Code for America">Code for America</a>, <a href="https://flyrlabs.com">FlyrLabs</a> & <a href="https://missionbit.org" alt="MissionBit">MissionBit</a>.</p>
  </div>
</div>


