<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">
  <link href="../assets/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!-- <script src="js/vendor/modernizr-2.5.3.min.js"></script> -->
</head>

<body class="home">

<div class="header-wrapper">
      <header>
        <div class="site-title">
          <h1><a href="/">{{ site.title }}</a></h1>
        </div>
        <nav>
          <a class="icon twitter" data-icon="&#62217;" href="http://twitter.com/lostmarinero" title="Twitter"></a>
          <a class="icon tumblr" data-icon="&#62229;" href="http://lostmarinero.tumblr.com" title="Tumblr"></a></li>
          <a class="icon github" data-icon="&#62208;" href="http://github.com/kbsail" title="GitHub"></a>
          <a class="icon coderwall" data-icon="&#62208;" href="https://coderwall.com/kbsail" title="Coderwall"></a>
        </nav>
        <div class="contact">
          <a href="mailto:hello@kevin-berry">Reach</a>
        </div>
      </header>
    </div>

<div class="page">