<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">
    <link href="../assets/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- <script src="js/vendor/modernizr-2.5.3.min.js"></script> -->
  </head>

  <body class="container">

  <section class="page">

  <div class="front-page">
    <h1>Kevin Berry</h1>
    
    <nav>
      <a class="icon linkedin" href="http://www.linkedin.com/in/kevinberry1" title="Linkedin" target="_blank">LinkedIn</a>
      <a class="icon twitter" href="http://twitter.com/lostmarinero" title="Twitter" target="_blank">@lostmarinero</a>
      <a class="icon github" href="http://github.com/kbsail" title="Github" target="_blank">github</a>
      <a class="icon email" href="mailto:berry.kevinw@gmail.com" title="Email" target="_blank">berry.kevinw@gmail.com</a>
    </nav>
    
    <h2>{{ page.tagline }}</h2>
    <p>Developer currently slinging code for <a href="http://www.getflyr.com" alt="Get Flyr">Flyr.com</a>, a tech company making a valuable impact in their industry.</p> 
  </div>
