<div class="my-section projects-container">
  <h3>Past Projects</h3>
  <div class="grid">
  	<a href="https://github.com/codeforamerica/ReqCheck" target="_blank" class="cell">
	  	<figure>
	  		<img src="../img/ReqCheck.png" class="responsive-image" alt="ReqCheck Medical">
	  		<figcaption>ReqCheck Medical CDSi (Ruby/Rails)</figcaption>
	  	</figure>
  	</a>
  	<a href="https://github.com/codeforamerica/ReqCheck" target="_blank" class="cell">
	  	<figure>
	  		<img src="../img/ReqCheck-Extractor.png" class="responsive-image" alt="ReqCheck ETL Extractor">
	  		<figcaption>Reqcheck-ETL-Extractor (Python)</figcaption>
	  	</figure>
  	</a>
  	<a href="https://flyrlabs.com/" target="_blank" class="cell">
	  	<figure>
	  		<img src="../img/FlyrPricing.jpg" class="responsive-image" alt="Flyr Pricing API">
	  		<figcaption>Flyr FareKeep Selling API (Python/Flask) and Flyr Pricing API (NodeJS)</figcaption>
	  	</figure>
  	</a>
  </div>
</div>