<div class='main-part flex-container'>
	<div class="my-section about-me">
	  <h3>About me</h3>
	  <ul class="custom-list">
	    <li><a href="https://codeforamerica.org">2016 Code for America Engineering Fellow</a>.</li>
	  	<li>I believe strongly in user-centered design and building iteratively.</li>
	  	<li>Spent a yearlong immersion into HIPAA compliant healthcare applications.</li>
	    <li>Am active in the community through mentorship.</li>
	  </ul>
	</div>
	<div class="my-section my-skills">
	  <h3>Professional Experience</h3>
	  <div class="flex-container">
	  	<div class="cell">
			  <h4>Primary Skillset</h4>
			  <ul>
			  	<li>Ruby on Rails</li>
			  	<li>Python with Flask & SQLalchemy</li>
			  	<li>PostgreSQL, SQL Databases</li>
			  	<li>User-Centered Design</li>
			  </ul>
	  	</div>
	  	<div class="cell">
			  <h4>Additional</h4>
			  <ul>
			  	<li>Ruby with Sinatra</li>
			  	<li>Python with Django</li>
			  	<li>NodeJS</li>
			  	<li>ReactJS</li>
			  	<li>Docker, AWS, Aptible</li>
			  </ul>
	  	</div>
	  </div>
	</div>
</div>