<div class="about-me">
  <h3>About me</h3>
  <ul class="custom-list">
    <li>My passion for community organizations, outreach and coding has given me some great experiences and stories.</li>
    <li><a href="https://codeforamerica.org">2016 Code for America Engineering Fellow</a></li>
    <li>Coding’s ability to create large-scale change motivates my growth and daily learning.</li>
    <li>Enjoy writing simple, user-centered web applications. User research is a passion.</li>
  </ul>

  <h3>My Work</h3>
  <ul class="custom-list">
    <li>I believe strongly in user-centered design and development. This includes building iteratively, and soliciting feedback through user-research</li>
    <li>Some Highlights:</li>
    <li></li>
    <li>Currently volunteering with <a href="http://www.missionbit.com">Mission Bit</a>, <a href="http://zen.coderdojo.com/dojo/25" alt="Coder Dojo SF">CoderDojoSF</a> and the <a href="http://www.sailalameda.org" alt="Alameda Community Sailing Center">Alameda Community Sailing Center</a>.</li>
  </ul>

  <br>
  <div class="alinks">
    <p>I always enjoy talking about coding, startups, non-profits, community outreach, whatever - Contact me!</p>
    <a href="mailto:berry.kevinw@gmail.com">berry.kevinw at gmail.com</a>
    <a href="http://www.twitter.com/lostmarinero">@lostmarinero</a>
  </div>
</div>
  <!-- <div class="tab-row tab" id="tab3">
    <h3>Organizations</h3>
    <ul>
      <li><h6>Mission Bit Teaching</h6><a href="http://www.missionbit.com" target="_blank"><img src="/assets/img/missionbit.jpg" alt="Mission Bit"\></a></li>
      <li><h6>Alameda Community Sailing</h6><a href="http://www.sailalameda.org/" target="_blank"><img src="/assets/img/ACSC.jpg" alt="Alameda Community Sailing Center"\></a></li>
      <li><h6>CoderDojo SF Mentoring</h6><a href="http://zen.coderdojo.com/dojo/25" target="_blank"><img src="/assets/img/coderdojosf.jpeg" alt="CoderDojo SF Mentoring"\></a></li>
    </ul>
  </div> -->
