
// ---------------------------------------------------------------------------
// Imports

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$tablet-width		: 48em; // 48em = 768px by default

$show-grid-backgrounds  : true;


// $fa-font-path		: "../fonts/font-awesome";
