
.custom-list {
	list-style-type: none;
}

h2 {
	padding-top: 10px;
	padding-bottom: 10px;
}

h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h5 {
	margin: 0 auto;
}


li {
	text-align: left;
}

// Bold and Heavy
.bold-heavy {
	font-weight: bold;
}

// Profile Photo
.profile-photo {
	border-radius: 100%;
}

.about-me {
	// width: 70%;
  // margin: 0 auto;
}

.my-skills {
	h4 {
		margin: 0 auto;
		text-decoration: underline;
	}
	ul {
		margin-top: 0;
		li {
			line-height: 120%;
		}
	}
}


// Info Section

.flex-container {
	// Flex settings
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	// Other settings
	margin: 0 auto;
	max-width: 1200px;
  border: 1px solid #555;
  div {
  	flex-grow: 1;
  	flex-shrink: 1;
  	flex-basis: 0;
  }
}

// Profile Photo
.front-photo {
  display: None;
 }

// Projects Container
.projects-container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1rem;
	h3 {
		margin-bottom: 0;
	}
}

// Project Header
.project-header {
}

// Projects Image Items
.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
  border-radius: .2rem;
}

.cell {
  margin: 1rem;
}

// Projects Desktop Size
@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

// Projects Tablet Size
@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
  .cell {
    width: calc(50% - 2rem);
  }
  .front-photo {
  	display: block;
  	max-width: 8.75rem;
    max-height: 8.75rem;
    img {
    	max-width: 100%;
    	max-height: 100%;
    }
  }
}
