// ###
// # Variable Declarations
// ###

$white: #fff;
$active-green: #008000;
$light-grey: #f2f2f2;
$dark-grey: #5c5c5c;
$transparent-clear: rgba(0, 0, 0, .5);
$black: #555;

// ###
// # Custom Styles
// ###

.custom-list {
  list-style-type: none;
}

h2 {
  padding-bottom: 10px;
  padding-top: 10px;
}

h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}

h5 {
  margin: 0 auto;
}


li {
  text-align: left;
}


// .test:hover {
//   background-color: red;
//   position: absolute;
//   bottom: 1px;
//   left: 0;
//   width: 100%;
//   height: 1px;
//   background: #B0B0B0;
//   transform: scaleX(0);
//   transform-origin: right;
//   transition: transform .9s cubic-bezier(.19,1,.22,1);
// }


// ###
// # Side Nav Open
// ###

.side-open {

  .main-page {
    right: 25rem;
    width: calc(100% - 25rem);
  }

  .side-nav-container {
    right: 0;
    transition: right, .25s;
  }
}



// ###
// # Main Page
// ###
.main-page {
  position: fixed;


}


// ###
// # Side Nav Container
// ###
.side-nav-container {
  border-left: 2px solid $light-grey;
  height: 100%;
  position: fixed;
  right: -25rem;
  top: 0;
  width: 25rem;
}


// ###
// # Side Nav List
// ###
.side-nav-list {
  list-style: none;
}


// ###
// # Custom Modal
// ###
.custom-modal {
  background: $white;
  bottom: 20%;
  box-shadow: 0 0 150px 130px $transparent-clear;
  left: 20%;
  overflow: auto;
  padding: 20;
  position: fixed;
  right: 20%;
  top: 20%;
}


// ###
// # Active Class
// ###
.active {
  // Green color
  color: $active-green;
}

// ###
// # Bold and Heavy
// ###
.bold-heavy {
  font-weight: bold;
}

// ###
// # Profile Photo
// ###
.profile-photo {
  border-radius: 100%;
}

.about-me {
  // width: 70%;
  // margin: 0 auto;
}

.my-skills {
  h4 {
    margin: 0 auto;
    text-decoration: underline;
  }

  ul {
    margin-top: 0;

    li {
      line-height: 120%;
    }
  }
}


// Info Section

.flex-container {
  // Flex settings
  align-content: center;
  align-items: center;
  border: 1px solid $black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;

  div {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

// Profile Photo
.front-photo {
  display: None;
 }

// Projects Container
.projects-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;

  h3 {
    margin-bottom: 0;
  }
}

// Project Header
.project-header {
  //
}

// Projects Image Items
.responsive-image {
  max-width: 100%;
}

.cell {
  margin: 1rem;

  img {
    border-radius: .2rem;
    display: block;
  }
}

// Projects Desktop Size
@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

// Projects Tablet Size
@media screen and (min-width: 600px) {
  .grid {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cell {
    width: calc(50% - 2rem);
  }

  .front-photo {
    display: block;
    max-height: 8.75rem;
    max-width: 8.75rem;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
