
.main-part {
  // @include span(12);
  // .my-section { width: span(4 of 12); }
	// @include show-grid(overlay);
}

.custom-list {
	list-style-type: none;
}

h2 {
	padding-top: 10px;
	padding-bottom: 10px;
}

h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h5 {
	margin: 0 auto;
}


li {
	text-align: left;
}

.about-me {
	width: 70%;
  margin: 0 auto;
}
