.main-part {
  @include span(9);
  .my-section { @include span(3 of 9); }
}

.custom-list {
	list-style-type: none;
}

h2 {
	padding-top: 10px;
	padding-bottom: 10px;
}

h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}


li {
	text-align: left;
}

.about-me {
	width: 70%;
  margin: 0 auto;
}
