.tab {
  display: none;
}

tab-container {
  margin: 0 auto;
  clear: both;
}

.tabs {
  width: 100%;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 15px;
    height: 30px;
    line-height: 30px;
    a {
      color: #666;
      font-family: Helvetica, Arial, sans-serif;
      text-decoration: none;
    }
  }
  li.active {
    a {
      color: black;
      text-decoration: none;
      border-bottom: none;
    }
  }
}

/*
  To get the "tab" effect, we have to cover up the grey border of the ul element
  To do this, we make the list item one pixel taller, give it a negative 1px bottom margin,
  and give it a 1px white bottom border.  This keeps the list item the same overall height,
  but "nudges" it down 1px so its white border covers the ul's grey border
 
  We also have to juggle with the margin to compensate for the new borders on the top, left, and right.
*/
