
.cw {
  h1:before {
    position:absolute;
    top:-.3em;
    left:-1.95em;
    width:3em;
    height:2em;
    content:'';

    background:
      /* 
       * blue dots 
       */
      radial-gradient(circle, #3B76A7 20%, transparent 20%),
      radial-gradient(circle, #3B76A7 20%, transparent 20%),
      radial-gradient(circle, #3B76A7 20%, transparent 20%),
      radial-gradient(circle, #3B76A7 20%, transparent 20%),
      radial-gradient(circle, #3B76A7 20%, transparent 20%),
      radial-gradient(circle, #3B76A7 20%, transparent 20%),

      /*
       * shadow dots
       */
      radial-gradient(circle, rgba(0, 0, 0, .3) 16%, rgba(0, 0, 0, .1) 21%, transparent 21%),
      radial-gradient(circle, rgba(0, 0, 0, .3) 16%, rgba(0, 0, 0, .1) 21%, transparent 21%),
      radial-gradient(circle, rgba(0, 0, 0, .3) 16%, rgba(0, 0, 0, .1) 21%, transparent 21%),
      radial-gradient(circle, rgba(0, 0, 0, .3) 16%, rgba(0, 0, 0, .1) 21%, transparent 21%),
      radial-gradient(circle, rgba(0, 0, 0, .3) 16%, rgba(0, 0, 0, .1) 21%, transparent 21%),
      radial-gradient(circle, rgba(0, 0, 0, .3) 16%, rgba(0, 0, 0, .1) 21%, transparent 21%) 
    ;

    background-size:1em 1em;
    background-repeat:no-repeat;

    background-position:
      /*
       * blue dots
       */ 
      /* right */
      1em 1em,
      1em .5em,
      1em 0,

      /* middle */
      .5em .5em,
      .5em 0,

      /* left */
      0 0,

      /*
       * shadow dots
       */
      /* right */
      1em .985em,
      1em .485em,
      1em -.025em,

      /* middle */
      .5em .485em,
      .5em -.025em,

      /* left */
      0 -.025em
    ;
  }
}