// ---------------------------------------------------------------------------
// IMPORTS

@import "base";
@import "tab_interface";
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography/";
@import "compass/utilities/general/clearfix";
@import "sassy-buttons";
@import "susy";

/* -------------------------------------------------------------------------*/
/* LAYOUT */

.container {
  @include container;
  text-align: center;
}

/* -------------------------------------------------------------------------*/
/* INCLUDES */

@include font-face("Siple", font-files("SurroundingRegular.otf"));
@include font-face("entypo", font-files("entypo.woff", "entypo.ttf", "entypo.svg"), "entypo.eot"); 
@include font-face("entypo-social", font-files("entypo-social.ttf", "entypo-social.woff", "entypo-social.svg"), "entypo-social.eot"); 
/* @include sticky-footer(50px, '.container', '.footer-wrapper', '#footer'); */

/* -------------------------------------------------------------------------*/
/* BREAKPOINTS */

$less-than-tablet: 0px 9 767px;
$more-than-tablet: 767px 12 1500px;

/* -------------------------------------------------------------------------*/
/* COLORS */

$lightscheme: #87AAAE;
$darkscheme: #679498;
$lightgray: #BAC8CF;
$darkcyan: #66828A;
$darkgrayblue: #3B494E;
$background: #fbfaf9;
$border: #9DB0B9;

/* -------------------------------------------------------------------------*/
/* LAYOUT */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $background;
  color: $darkgrayblue;
  font-family: 'Open Sans', sans-serif;
  line-height: 200%;
}

section {
  height: 100%;
}

a {
  text-decoration: none;
}


// MAIN SECTION

.page { 
  padding-bottom: 1em;
  text-align: center;
}

.front-page {
    clear: both;
    font-family: 'Siple', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    display: block;
    float: none;
    h1 {
      color: $darkgrayblue;
      font-size: 2em;
      font-weight: 600;
      padding: .8em .5em 0 .5em;
      margin: 0 auto;
      text-transform: uppercase;
      width: 90%;
    }
    h2 {
      padding: 0 .4em;
    }
    p {
      font-size: .7em;
    }
  }

nav {
  margin-top: 0;
  a {
    display: inline; 
    padding: 0 1em;
    margin: 0; 
    @include clearfix;
    text-decoration: none;
    font-size: .6em;
    font-family: 'Helvetica Neue', sans-serif;
    color: blue;
  }
}

.alinks {
  width: 100%;
  padding: .8em 0;
  p {
    font-style: italic;
  }
}


// HEADINGS

h1 {
  font-size: 3.4em;
  line-height: 100%;
  margin-bottom: 0.2em;
  width: 100%;
}

h2 {
  font-size: 1.2em;
  line-height: 100%;
}

h3 {
  font-family: 'Siple', sans-serif;
  font-size: 2em;
  color: $darkscheme;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2em;
  font-weight: 600;
}

h6 { text-transform: uppercase; }

// LIST ELEMENTS

li { margin-bottom: 0.2em; }


// PROJECT ROWS

.tab-row {
  h3 {
    padding-top: .4em;
    line-height: 1.2em;
    @include span-columns(12);
    width: 100%;
    @include clearfix;
  }
}

#tab1 {
  clear: both;
  ul {
    list-style-type: disc;
  }
  h4 {
    text-align: left;
    margin-left: 15%;
  }
  li {
    text-align: left;
    margin-left: 20%
  }
  h4 {
    text-decoration: underline;
    font-weight: 800;
  }
}

#tab4, #tab5 {
//  display: block;
  li {
    display: inline;
  }
}


// MEDIA QUERIES
// FULL SCREEN

@include at-breakpoint($more-than-tablet) {
  .page {
    position: relative;
    top: 10%;
  }
  ul{ 
    width: 100%;
    @include clearfix;
  }

  .tabs {
    li, li.active {
      padding-top: 0;
      padding-bottom: 0;
    }
    li.active {
      margin-bottom: -1px;
      height: 31px;
    }
  }

  #tab2, #tab3{
    li {
      height: 20em;
      display: inline;
      @include span-columns(3);
      @include isolate-grid(4);
      a img {
        width: 80%;
        height: 80%;
        border-radius: 5px;
        box-shadow: 3px 3px 0 #ddd;
          -moz-box-shadow: 3px 3px 0 #ddd;
          -webkit-box-shadow: 3px 3px 0 #ddd;
      }
    }
  }
}

// TABLET OR SMALLER

@include at-breakpoint($less-than-tablet) {
  body {
    @include container;
    font-size: 85%;
    padding: 0 1em;
  }

  .page {
    position: relative;
    top: 0;
  }

  .front-page {
    @include span-columns(12);
    margin-bottom: 1em;
    text-align: center;
    width: 90%;
    margin: 0 auto; 
  }

  #tab2, #tab3 {
    ul {
      @include clearfix;
      clear: both;
      li:nth-child(odd) {
        background-color: $lightgray;
      }
      li {
        @include clearfix;
        @include span-columns(12);
        text-align: center;
        display: block;
        float: none;
        margin: 0 auto;
        width: 100%;
        h6 {
          padding: .4em 0;
          font-size: 2em;
          width: 100%;
        }
        img {
          width: 80%;
          height: 80%;
        }
      }
    }
  }


  .tabs {
    text-align: center;
    li {
      @include span-columns(12);
      width: 90%;
      margin: 0 auto;
      @include border-radius(3px);
      border: 2px solid $border;
      display: block;
      margin: 0.5em 0;
      padding: 0 1em;
      a {
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }
}