// ---------------------------------------------------------------------------
// IMPORTS

@import "base";
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography/";
@import "compass/utilities/general/clearfix";
@import "sassy-buttons";
@import "susy";

/* -------------------------------------------------------------------------*/
/* LAYOUT */

.container {
  @include container;
  @include susy-grid-background;
}
 

/* -------------------------------------------------------------------------*/
/* INCLUDES */

@include font-face("Keswick", font-files("Keswick.otf"));
@include font-face("entypo", font-files("entypo.woff", "entypo.ttf", "entypo.svg"), "entypo.eot"); 
@include font-face("entypo-social", font-files("entypo-social.ttf", "entypo-social.woff", "entypo-social.svg"), "entypo-social.eot"); 
@include sticky-footer(50px, 'body', '.page-footer');

/* -------------------------------------------------------------------------*/
/* BREAKPOINTS */

$less-than-tablet: 0px 9 767px;

/* -------------------------------------------------------------------------*/
/* COLORS */

$lightscheme: #87AAAE;
$darkscheme: #679498;
$lightgray: #BAC8CF;
$darkcyan: #66828A;
$darkgrayblue: #3B494E;
$background: #fbfaf9;
$border: #9DB0B9;

/* 551A8B */
/* BAC8CF */

/* DDECEF */
/* BFD9DA */
/* 87AAAE */
/* F6F6F6 */
/* E7E7E7 */

/* -------------------------------------------------------------------------*/
/* LAYOUT */

html, body { height: 100%; }

header, section, footer {
  @include container;
  padding-left: 0;
  padding-right: 0;
}

.header-wrapper {
  border-bottom: 2px solid $border;
  @include clearfix;
}

a {
  color: $darkgrayblue;;
}

body {
  background-color: $background;
  color: $darkgrayblue;
  font-family: 'Open Sans', sans-serif;
  line-height: 200%;
}

header {
  display: inline;
  a {
  text-decoration: none;
  }
  
  nav {
    float: right;
    margin-top: 0;
    a {
    display: inline-block; 
    padding-top: 0;
    margin-top: 0; 
    }
  }

  .contact {
    float: right;
    padding-top: 1em;
    margin: 0 1.2em;
    a {
      @include sassy-button("simple", 10px, 1.2em, $darkscheme);
      display: inline;
      font-family: 'Helvetica Neue';
    }
  }

  .site-title {
    float: left;
    font-size: 2.4em;
    font-family: 'Keswick', script;
    padding: 0.6em 0 0 1.4em;
  }

  .icon {
    font-size: 1.2em;
    padding: 1em;
    padding-bottom: 0.2em;
    &.twitter:before, &.tumblr:before, &.github:before, &.instagram:before, &.coderwall:before, &.linkedin:before {
      font-family: 'entypo-social';
      content: attr(data-icon);
    }
  }
}



.page { 

  @include container;
  padding-bottom: 1em;
  text-align: center;
  .front-page {
    clear: both;
    font-family: "Keswick";
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 2em auto;
    text-align: center;
    display: inline-block;
    h1 {
      color: $darkgrayblue;
      font-size: 2em;
      font-weight: 600;
      padding: 1em .5em 0 .5em;
      text-transform: uppercase;
      width: 12em;
    }
    a {
      text-decoration: none;
      @include clearfix;
    }
}

}

.footer-wrapper {
  width: 100%;
  text-align: center;
  background-color: $border;
  height: 30px;
  padding: 20px 0 10px 0;
}

// HEADINGS

h1 {
  font-size: 3.4em;
  line-height: 100%;
  margin-bottom: 0.2em;
  width: 100%;
}

h2 {
  font-size: 2em;
  line-height: 100%;
}

h3 {
  font-family: 'Keswick', script;
  font-size: 2em;
  color: $darkscheme;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 1em;
  line-height: 100%;
  text-transform: uppercase;
}

h6 { text-transform: uppercase; }

// LIST ELEMENTS

li { margin-bottom: 0.2em; }


// ICONS

.icon {
  font-weight: normal;
  padding-top: 0;
  &:before {
    font-family: 'entypo';
    font-size: 3em;
    content: attr(data-icon);
    speak: none;
  }
  &.list-link:before {
    font-size: 1.75em;
  }
}

.coderwall {
  vertical-align: top;
  font-weight: bold;
}

// PROJECT ROWS

.project-row {
  ul{ 
    @include span-columns(12);
    width: 100%;
    @include clearfix;
      li {
        height: 20em;
        display: inline;
        @include span-columns(3);
        @include isolate-grid(4);
        a img {
          width: 80%;
          height: 80%;
          border-radius: 5px;
          box-shadow: 3px 3px 0 #ddd;
            -moz-box-shadow: 3px 3px 0 #ddd;
            -webkit-box-shadow: 3px 3px 0 #ddd;
        }
      }
  }
}


// box-shadow

// -moz-box-shadow: 2px 2px 0 #ddd;
// -webkit-box-shadow:
// box-shadow: