// ---------------------------------------------------------------------------
// IMPORTS

@import "base";
@import "tab_interface";
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography/";
@import "compass/utilities/general/clearfix";
@import "sassy-buttons";
@import "susy";

/* -------------------------------------------------------------------------*/
/* LAYOUT */

.container {
  @include container;
  @include susy-grid-background;
}

/* -------------------------------------------------------------------------*/
/* INCLUDES */

@include font-face("Keswick", font-files("Keswick.otf"));
@include font-face("entypo", font-files("entypo.woff", "entypo.ttf", "entypo.svg"), "entypo.eot"); 
@include font-face("entypo-social", font-files("entypo-social.ttf", "entypo-social.woff", "entypo-social.svg"), "entypo-social.eot"); 
@include sticky-footer(50px, 'body', '.page-footer');

/* -------------------------------------------------------------------------*/
/* BREAKPOINTS */

$less-than-tablet: 0px 9 767px;

/* -------------------------------------------------------------------------*/
/* COLORS */

$lightscheme: #87AAAE;
$darkscheme: #679498;
$lightgray: #BAC8CF;
$darkcyan: #66828A;
$darkgrayblue: #3B494E;
$background: #fbfaf9;
$border: #9DB0B9;

/* -------------------------------------------------------------------------*/
/* LAYOUT */

html, body { height: 100%; }

section, footer {
  @include container;
  padding-left: 0;
  padding-right: 0;
}

body {
  background-color: $background;
  color: $darkgrayblue;
  font-family: 'Open Sans', sans-serif;
  line-height: 200%;
}

a {
  text-decoration: none;
  color: $darkgrayblue;
}


nav {
  margin-top: 0;
  a {
    display: inline; 
    padding: 0;
    margin: 0; 
    @include clearfix;
    text-decoration: none;
    font-size: .6em;
    font-family: 'Helvetica Neue', sans-serif;
    color: blue;
  }
}

.page { 
  @include container;
  padding-bottom: 1em;
  text-align: center;
  .front-page {
    clear: both;
    font-family: "Keswick";
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    h1 {
      color: $darkgrayblue;
      font-size: 2em;
      font-weight: 600;
      padding: .8em .5em 0 .5em;
      margin: 0 auto;
      text-transform: uppercase;
      width: 90%;
    }
    .alinks {
      width: 100%;
      padding-top: .8em;
      margin-bottom: .4em;
      p {
        font-size: .6em;
        font-family: 'Helvetica Neue', sans-serif;
      }
    }
    h2 {
      padding: .4em;
      padding-top: 0;
    }
    p {
      font-size: .7em;
    }
  }

}

.footer-wrapper {
  width: 100%;
  text-align: center;
  background-color: $border;
  height: 30px;
  padding: 20px 0 10px 0;
}

// HEADINGS

h1 {
  font-size: 3.4em;
  line-height: 100%;
  margin-bottom: 0.2em;
  width: 100%;
}

h2 {
  font-size: 1.2em;
  line-height: 100%;
}

h3 {
  font-family: 'Keswick', script;
  font-size: 2em;
  color: $darkscheme;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
}

h6 { text-transform: uppercase; }

// LIST ELEMENTS

li { margin-bottom: 0.2em; }


// PROJECT ROWS

.section-row {
  h3 {
    line-height: 1.2em;
    @include span-columns(12);
    width: 100%;
    @include clearfix;
  }
  ul{ 
    @include span-columns(12);
    width: 100%;
    @include clearfix;
  }
}

#tab2, #tab3{
  li {
    height: 20em;
    display: inline;
    @include span-columns(3);
    @include isolate-grid(4);
    a img {
      width: 80%;
      height: 80%;
      border-radius: 5px;
      box-shadow: 3px 3px 0 #ddd;
        -moz-box-shadow: 3px 3px 0 #ddd;
        -webkit-box-shadow: 3px 3px 0 #ddd;
    }
  }
}

#tab4, #tab5 {
  li {
    display: inline;
  }
}

// MEDIA QUERIES

@include at-breakpoint($less-than-tablet) {

  body {
    font-size: 85%;
    padding: 0 1em;
  }
  .front-page {
    @include span-columns(12,12);
    margin-bottom: 1em;
    text-align: center;
    width: 90%;
    margin: 0 auto; 
  }

  tab {
    background-color: red;

    li {
      @include span-columns(12,12);
    }
  }

  .tabs {
    text-align: center;
    li {
      @include span-columns(12,12);
      width: 90%;
      margin: 0 auto;
      @include border-radius(3px);
      border: 2px solid $border;
      display: block;
      margin: 0.5em 0;
      padding: 0.5em 1em;
    }
  }
}