---
---

//
// Use box shadow?
//     box-shadow: 0px 0px 10px 0px rgba(39,49,65,0.1);
//
//  Transition?
//    transition: color .9s cubic-bezier(.19,1,.22,1);
//

// New Color Scheme
// Light blue and bright white, kind of ski colors, swedish colors
// color picker #5780A1


// ---------------------------------------------------------------------------
// IMPORTS

// Variables to modify font folders
$fa-font-path:  "../fonts/font-awesome";


@import 'normalize',
        '_font-awesome/font-awesome',
        'custom';

/* -------------------------------------------------------------------------*/
/* LAYOUT */

.container {
  // @include container;
  text-align: center;
}

/* -------------------------------------------------------------------------*/
/* FONTS */

@font-face {
  font-family: 'alright-sans';
  src:  url('../fonts/AlrightSans-Regular-v3.otf') format('otf'),
        url('../fonts/AlrightSans-Regular-v3.woff') format('woff');
}

@font-face {
  font-family: 'entypo';
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.ttf') format('truetype'),
       url('../fonts/entypo.woff') format('woff');
}

@font-face {
  font-family: 'entypo-social';
  src: url('../fonts/entypo-social.eot');
  src: url('../fonts/entypo-social.ttf') format('truetype'),
       url('../fonts/entypo-social.woff') format('woff');
}

/* -------------------------------------------------------------------------*/
/* COLORS */

$lightscheme: #87AAAE;
$darkscheme: #679498;
$lightgray: #BAC8CF;
$darkcyan: #66828A;
$darkgrayblue: #3B494E;
$background: #fbfaf9;
$border: #9DB0B9;

/* -------------------------------------------------------------------------*/
/* LAYOUT */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $background;
  color: $darkgrayblue;
  font-family: 'Open Sans', sans-serif;
  line-height: 200%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

section {
  height: 100%;
}

a {
  text-decoration: none;
}

h2 {
  clear: both;
  margin: 0;
}

// MAIN SECTION

.page {
  padding-bottom: 1em;
  text-align: center;
}

.main-page {
    clear: both;
    font-family: 'alright-sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
    display: block;
    float: none;
    h1 {
      color: $darkgrayblue;
      font-size: 2em;
      font-weight: 600;
      padding: .8em .5em 0 .5em;
      margin: 0 auto;
      text-transform: uppercase;
      width: 90%;
    }
    h2 {
      padding: .3em .4em;
      padding-bottom: 0;
      margin: 0 auto;
    }
    p {
      font-size: .7em;
      margin: 0 auto;
    }
  }

nav {
  margin-top: 0;
  a {
    display: inline;
    padding: 0 1em;
    margin: 0;
    text-decoration: none;
    font-size: .6em;
    font-family: 'Helvetica Neue', sans-serif;
    color: #5c5c5c;
  }
}

.alinks {
  width: 100%;
  padding: .8em 0;
  p {
    font-style: italic;
  }
}


// HEADINGS

h1 {
  font-size: 3.4em;
  line-height: 100%;
  margin-bottom: 0.2em;
  width: 100%;
}

h2 {
  font-size: 1.2em;
  line-height: 100%;
}

h3 {
  font-family: 'alright-sans', sans-serif;
  font-size: 2em;
  color: $darkscheme;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2em;
  font-weight: 600;
}

h6 { text-transform: uppercase; }

// LIST ELEMENTS

li { margin-bottom: 0.2em; }


// PROJECT ROWS

.tab-row {
  h3 {
    padding-top: .4em;
    line-height: 1.2em;
    // @include container(100%);
  }
}

// MEDIA QUERIES
// TABLET OR SMALLER

@media only screen and (max-width: 767px) {
  body {
    // @include container;
    font-size: 85%;
    padding: 0 1em;
  }

  .page {
    position: relative;
    top: 0;
  }

  .main-page {
    // @include container(100%);
    text-align: center;
    width: 90%;
    margin: 25% auto 1em;
  }
}