/* line 1, ../scss/_tab_interface.scss */
.tab {
  display: none; }

/* line 5, ../scss/_tab_interface.scss */
tab-container {
  margin: 0 auto;
  clear: both; }

/* line 10, ../scss/_tab_interface.scss */
.tabs {
  width: 100%;
  list-style: none; }
  /* line 13, ../scss/_tab_interface.scss */
  .tabs li {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 15px;
    height: 30px;
    line-height: 30px; }
    /* line 19, ../scss/_tab_interface.scss */
    .tabs li a {
      color: #666;
      font-family: Helvetica, Arial, sans-serif;
      text-decoration: none; }
  /* line 26, ../scss/_tab_interface.scss */
  .tabs li.active a {
    color: black;
    text-decoration: none;
    border-bottom: none; }

/*
  To get the "tab" effect, we have to cover up the grey border of the ul element
  To do this, we make the list item one pixel taller, give it a negative 1px bottom margin,
  and give it a 1px white bottom border.  This keeps the list item the same overall height,
  but "nudges" it down 1px so its white border covers the ul's grey border

  We also have to juggle with the margin to compensate for the new borders on the top, left, and right.
*/
/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* -------------------------------------------------------------------------*/
/* LAYOUT */
/* line 17, ../scss/screen.scss */
.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  /* line 38, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }

/* -------------------------------------------------------------------------*/
/* INCLUDES */
@font-face {
  font-family: "alright-sans";
  src: url('/assets/fonts/AlrightSans-Regular-v3.otf') format('opentype'); }

@font-face {
  font-family: "entypo";
  src: url('/assets/fonts/entypo.eot');
  src: url('/assets/fonts/entypo.eot?#iefix') format('eot'), url('/assets/fonts/entypo.woff') format('woff'), url('/assets/fonts/entypo.ttf') format('truetype'), url('/assets/fonts/entypo.svg') format('svg'); }

@font-face {
  font-family: "entypo-social";
  src: url('/assets/fonts/entypo-social.eot');
  src: url('/assets/fonts/entypo-social.eot?#iefix') format('eot'), url('/assets/fonts/entypo-social.ttf') format('truetype'), url('/assets/fonts/entypo-social.woff') format('woff'), url('/assets/fonts/entypo-social.svg') format('svg'); }

/* @include sticky-footer(50px, '.container', '.footer-wrapper', '#footer'); */
/* -------------------------------------------------------------------------*/
/* BREAKPOINTS */
/* -------------------------------------------------------------------------*/
/* COLORS */
/* -------------------------------------------------------------------------*/
/* LAYOUT */
/* line 50, ../scss/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 56, ../scss/screen.scss */
body {
  background-color: #fbfaf9;
  color: #3b494e;
  font-family: 'Open Sans', sans-serif;
  line-height: 200%; }

/* line 63, ../scss/screen.scss */
section {
  height: 100%; }

/* line 67, ../scss/screen.scss */
a {
  text-decoration: none; }

/* line 74, ../scss/screen.scss */
.page {
  padding-bottom: 1em;
  text-align: center; }

/* line 79, ../scss/screen.scss */
.front-page {
  clear: both;
  font-family: 'alright-sans', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  display: block;
  float: none; }
  /* line 88, ../scss/screen.scss */
  .front-page h1 {
    color: #3b494e;
    font-size: 2em;
    font-weight: 600;
    padding: .8em .5em 0 .5em;
    margin: 0 auto;
    text-transform: uppercase;
    width: 90%; }
  /* line 97, ../scss/screen.scss */
  .front-page h2 {
    padding: 0 .4em; }
  /* line 100, ../scss/screen.scss */
  .front-page p {
    font-size: .7em; }

/* line 105, ../scss/screen.scss */
nav {
  margin-top: 0; }
  /* line 107, ../scss/screen.scss */
  nav a {
    display: inline;
    padding: 0 1em;
    margin: 0;
    overflow: hidden;
    *zoom: 1;
    text-decoration: none;
    font-size: .6em;
    font-family: 'Helvetica Neue', sans-serif;
    color: blue; }

/* line 119, ../scss/screen.scss */
.alinks {
  width: 100%;
  padding: .8em 0; }
  /* line 122, ../scss/screen.scss */
  .alinks p {
    font-style: italic; }

/* line 130, ../scss/screen.scss */
h1 {
  font-size: 3.4em;
  line-height: 100%;
  margin-bottom: 0.2em;
  width: 100%; }

/* line 137, ../scss/screen.scss */
h2 {
  font-size: 1.2em;
  line-height: 100%; }

/* line 142, ../scss/screen.scss */
h3 {
  font-family: 'alright-sans', sans-serif;
  font-size: 2em;
  color: #679498;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase; }

/* line 151, ../scss/screen.scss */
h4 {
  font-size: 1.2em;
  font-weight: 600; }

/* line 156, ../scss/screen.scss */
h6 {
  text-transform: uppercase; }

/* line 160, ../scss/screen.scss */
li {
  margin-bottom: 0.2em; }

/* line 166, ../scss/screen.scss */
.tab-row h3 {
  padding-top: .4em;
  line-height: 1.2em;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  width: 100%;
  overflow: hidden;
  *zoom: 1; }

/* line 175, ../scss/screen.scss */
#tab1 {
  clear: both; }
  /* line 177, ../scss/screen.scss */
  #tab1 ul {
    list-style-type: disc; }
  /* line 180, ../scss/screen.scss */
  #tab1 h4 {
    text-align: left;
    margin-left: 15%; }
  /* line 184, ../scss/screen.scss */
  #tab1 li {
    text-align: left;
    margin-left: 20%; }
  /* line 188, ../scss/screen.scss */
  #tab1 h4 {
    text-decoration: underline;
    font-weight: 800; }

/* line 196, ../scss/screen.scss */
#tab4 li, #tab5 li {
  display: inline; }

@media (min-width: 767px) and (max-width: 1500px) {
  /* line 206, ../scss/screen.scss */
  .page {
    position: relative;
    top: 10%; }

  /* line 210, ../scss/screen.scss */
  ul {
    width: 100%;
    overflow: hidden; }

  /* line 216, ../scss/screen.scss */
  .tabs li, .tabs li.active {
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer; }

  /* line 224, ../scss/screen.scss */
  #tab2 li, #tab3 li {
    height: 20em;
    display: inline;
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-right: -100%; }
    /* line 42, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-1.0.9/sass/susy/_isolation.scss */
    #tab2 li:nth-child(3n + 1), #tab3 li:nth-child(3n + 1) {
      margin-left: 0%;
      clear: left; }
    /* line 42, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-1.0.9/sass/susy/_isolation.scss */
    #tab2 li:nth-child(3n + 2), #tab3 li:nth-child(3n + 2) {
      margin-left: 33.89831%;
      clear: none; }
    /* line 42, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-1.0.9/sass/susy/_isolation.scss */
    #tab2 li:nth-child(3n + 3), #tab3 li:nth-child(3n + 3) {
      margin-left: 67.79661%;
      clear: none; }
    /* line 229, ../scss/screen.scss */
    #tab2 li a img, #tab3 li a img {
      width: 80%;
      height: 80%;
      border-radius: 5px;
      box-shadow: 3px 3px 0 #ddd;
      -moz-box-shadow: 3px 3px 0 #ddd;
      -webkit-box-shadow: 3px 3px 0 #ddd; } }
@media (min-width: 0px) and (max-width: 767px) {
  /* line 244, ../scss/screen.scss */
  body {
    max-width: 44em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 85%;
    padding: 0 1em; }
    /* line 38, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    body:after {
      content: "";
      display: table;
      clear: both; }

  /* line 250, ../scss/screen.scss */
  .page {
    position: relative;
    top: 0; }

  /* line 255, ../scss/screen.scss */
  .front-page {
    width: 134.09091%;
    float: left;
    margin-right: 2.27273%;
    margin-bottom: 1em;
    text-align: center;
    width: 90%;
    margin: 0 auto; }

  /* line 264, ../scss/screen.scss */
  #tab2 ul, #tab3 ul {
    overflow: hidden;
    clear: both; }
    /* line 267, ../scss/screen.scss */
    #tab2 ul li:nth-child(odd), #tab3 ul li:nth-child(odd) {
      background-color: #bac8cf; }
    /* line 270, ../scss/screen.scss */
    #tab2 ul li, #tab3 ul li {
      overflow: hidden;
      width: 134.09091%;
      float: left;
      margin-right: 2.27273%;
      text-align: center;
      display: block;
      float: none;
      margin: 0 auto;
      width: 100%; }
      /* line 278, ../scss/screen.scss */
      #tab2 ul li h6, #tab3 ul li h6 {
        padding: .4em 0;
        font-size: 2em;
        width: 100%; }
      /* line 283, ../scss/screen.scss */
      #tab2 ul li img, #tab3 ul li img {
        width: 80%;
        height: 80%; }

  /* line 292, ../scss/screen.scss */
  .tabs {
    text-align: center; }
    /* line 294, ../scss/screen.scss */
    .tabs li {
      width: 134.09091%;
      float: left;
      margin-right: 2.27273%;
      width: 90%;
      margin: 0 auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      border: 2px solid #9db0b9;
      display: block;
      margin: 0.5em 0;
      padding: 0 1em; }
      /* line 303, ../scss/screen.scss */
      .tabs li a {
        height: 100%;
        width: 100%;
        display: block; } }
